<% include ../head %>
<div class="container">
    <h3>
        <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>"><i
                    class="fa fa-chevron-left"></i> Back to sample: <%- run.sample.name %></a></h3>

    <h2>Read data: <%- run.name %></h2>

    <label>Sequencing provider:</label>

    <p><%- run.sequencingProvider %></p>

    <label>Sequencing technology:</label>

    <p><%- run.sequencingTechnology %></p>

    <label>Path:</label>

    <p><%- run.hpcPath(); %></p>

    <label>Additional File:</label>
    <%
    if(run.additionalFiles && run.additionalFiles.length > 0){
    run.additionalFiles.map(function(file){
    %>
    <p><i class="fa fa-file-o"></i> <a href="/additional/<%- file.id %>/download"><%- file.name %></a></p>
    <%
    });
    } else { %>
    <p>none</p>
    <% } %>

    <label>Library Source:</label>

    <p> <%- run.librarySource %></p>

    <label>Library type:</label>

    <p><%- run.libraryType %></p>

    <label>Library Selection:</label>

    <p><%- run.librarySelection %></p>

    <label>Insert Size:</label>

    <p><%- run.insertSize %></p>

    <label>Submission to Galaxy:</label>

    <p><%- run.submissionToGalaxy %></p>

    <h2>Raw:</h2>
    <% if(raw && raw.length > 0){ %>

    <div class="row">
        <% raw.map(function(read){ %>
        <% if(read.length === 2){ %>
        <div class="col6">
            <div class="tile-group">
                <a class="tile"
                   href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read[0].safeName %>">
                    <%- read[0].name %>
                </a>

                <a class="tile"
                   href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read[1].safeName %>">
                    <%- read[1].name %>
                </a>
            </div>
        </div>
        <% } else { %>
        <div class="col6">
            <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read.safeName %>">
                <div class="tile">
                    <div class="title">
                        <%- read.name %>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
        <% }); %>
    </div>
    <% } %>

    <% unknownRaw.map(function(ur){ %>
    <%- ur %>
    <% }) %>

    <h2>Processed</h2>
    <% if(processed && processed.length > 0){ %>
    <div class="row">
        <% processed.map(function(read){ %>
        <% if(read.length === 2){ %>
        <div class="col6">
            <div class="tile-group">
                <a class="tile"
                   href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read[0].safeName %>">
                    <%- read[0].name %>
                </a>

                <a class="tile"
                   href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read[1].safeName %>">
                    <%- read[1].name %>
                </a>
            </div>
        </div>
        <% } else { %>
        <div class="col6">
            <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read.safeName %>">
                <div class="tile">
                    File:
                    <%- read.name %>
                </div>
            </a>
        </div>
        <% } %>
        <% }); %>
    </div>
    <% } %>

    <% unknownProcessed.map(function(up){ %>
    <%- up %>
    <% }) %>

    <hr>
    <form action="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/add"
          method="POST"
          enctype="multipart/form-data">
        <h2>Add processed data</h2>

        <input type="hidden" value="<%- run.libraryType %>" id="typePasser">

        <fieldset id="md5Inputs" class="file-group">
            <label>Read data</label>

            <div id="filesRoot">
            </div>
        </fieldset>
        <button type="submit" class="button success">Submit</button>
    </form>


    <script>

        $(function () {

            var md5files = document.getElementById('filesRoot');
            var md5Loader = fileUploader(md5files, true, 'file', 'md5').setMin(1).setAcceptedTypes(['.fastq', '.fq']);

            var type = $('#typePasser').val();
            console.log('type', type);

            if (type !== 'unpaired') {
                md5Loader.setPaired(true);
            }
        })

    </script>

</div>

<% include ../foot %>