<% include ../head %>
<div class="container">
    <h3>
        <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>"><i
                    class="fa fa-chevron-left"></i> Sample: <%- run.sample.name %></a></h3>

    <h2><%- run.name %></h2>

    <label>Sequencing provider</label>

    <p><%- run.sequencingProvider %></p>

    <label>Sequencing technology</label>

    <p><%- run.sequencingTechnology %></p>

    <label>Additional Info</label>

    <% if(run.additionalData){ %>
    <% run.additionalData.map(function(data){ %>

    <%
        var str = data;
        var n = str.lastIndexOf('/');
        var result = str.substring(n + 1);
    %>

    <p><i class="fa fa-file-o"></i> <a href="#"><%- result %></a></p>

    <% }); %>

    <% } else { %>
    <p>none</p>
    <% } %>

    <label>Library information</label>

    <p> <%- run.libraryInformation %></p>

    <label>Library type</label>

    <p><%- run.libraryType %></p>

    <label>Submission to Galaxy</label>

    <p><%- run.submissionToGalaxy %></p>

    <div class="row">
        <% var i = 0; %>
        <% if(run.reads) run.reads.map(function(read){ %>
        <% i++; %>
        <div class="col6">
            <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read.safeName %>">
                <div class="tile">
                    Read:
                    <%- read.name %>
                </div>
            </a>
        </div>
        <% if (i % 2 == 0){ %>
        <div class="clearfix"></div>
        <% } %>
        <% }); %>
    </div>
    <hr>
    <form>
        <h2>Add processed data</h2>

        <input type="hidden" value="<%- run.libraryType %>" id="typePasser">

        <fieldset id="md5Inputs" class="file-group">
            <label>Read data</label>

            <div id="filesRoot">
            </div>
        </fieldset>
        <button type="submit" class="button button-primary">Submit</button>
    </form>


    <script>

        var md5files = document.getElementById('filesRoot');
        var md5Loader = fileUploader(md5files, true, 'file', 'md5').setMin(1);

        var type = $('#typePasser').val();
        console.log('type', type);

        if (type !== 'unpaired') {
            md5Loader.setPaired(true);
        }

    </script>

</div>

<% include ../foot %>