<% include ../head %>
<div class="container">
    <h3><a href="/<%- run.project.id %>"><i class="fa fa-chevron-left"></i> <%- run.project.name %></a></h3>

    <h1><%- run.name %></h1>


    <h4>sequencingProvider: <%- run.sequencingProvider %></h4>
    <h4>sequencingTechnology: <%- run.sequencingTechnology %></h4>
    <h4>communicationExcerpts: <%- run.communicationExcerpts %></h4>
    <h4>sequencingProviderDatasheets: <%- run.sequencingProviderDatasheets %></h4>
    <h4>libraryInformation: <%- run.libraryInformation %></h4>
    <h4>libraryType: <%- run.libraryType %></h4>
    <h4>submissionToPublicPortal: <%- run.submissionToPublicPortal %></h4>
    <h4>galaxyDataWanted: <%- run.galaxyDataWanted %></h4>

    <a class="button button-primary" href="/<%- run.project.id %>/<%- run.id %>/new"><i class="fa fa-plus"></i> add read data</a>

    <div class="row">
        <% if(run.reads) run.reads.map(function(read){ %>
        <div class="col6">
            <a href="/<%- run.project.id %>/<%- run.id %>/<%- read.id %>">
                <div class="tile">
                    <!--<i class="fa fa-cube"></i>--> <%- read.name %>
                </div>
            </a>
        </div>
        <% }); %>
    </div>

</div>

<% include ../foot %>