<% include ../head %>
<div class="container">
    <h3>
        <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>"><i
                    class="fa fa-chevron-left"></i> <%- run.sample.name %></a></h3>

    <h2><%- run.name %></h2>

    <label>Sequencing provider</label>

    <p><%- run.sequencingProvider %></p>

    <label>Sequencing technology</label>

    <p><%- run.sequencingTechnology %></p>

    <label>Additional Info</label>

    <% if(run.additionalData){ %>
    <% run.additionalData.map(function(data){ %>

    <%
        var str = data;
        var n = str.lastIndexOf('/');
        var result = str.substring(n + 1);
    %>

    <p><i class="fa fa-file-o"></i> <a href="#"><%- result %></a></p>

    <% }); %>

    <% } else { %>
    <p>none</p>
    <% } %>

    <label>Library information</label>

    <p> <%- run.libraryInformation %></p>

    <label>Library type</label>

    <p><%- run.libraryType %></p>

    <label>Submission to Galaxy</label>

    <p><%- run.submissionToGalaxy %></p>


    <a class="button button-primary"
       href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/new"><i
                class="fa fa-plus"></i> add read
        data</a>

    <div class="row">
        <% var i = 0; %>
        <% if(run.reads) run.reads.map(function(read){ %>
        <% i++; %>
        <div class="col6">
            <a href="/<%- run.sample.project.group.safeName %>/<%- run.sample.project.safeName %>/<%- run.sample.safeName %>/<%- run.safeName %>/<%- read.safeName %>">
                <div class="tile">
                    <!--<i class="fa fa-cube"></i>--> <%- read.name %>
                </div>
            </a>
        </div>
        <% if (i % 2 == 0){ %>
        <div class="clearfix"></div>
        <% } %>
        <% }); %>
    </div>

</div>

<% include ../foot %>