<% include ../head %>

<div class="container">

    <h3><a href="/groups"><i class="fa fa-chevron-left"></i> Back to groups</a></h3>

    <h1><%- group.name %></h1>

    <label>Path</label>

    <p><%- group.hpcPath(); %></p>

    <a class="button button-primary" href="/<%- group.safeName %>/new"><i class="fa fa-plus"></i> Create project</a>


    <div class="row">
        <% var i = 0; %>
        <% projects.map(function(project){ %>
        <% i++; %>
        <div class="col6">
            <a href="/<%- group.safeName %>/<%- project.safeName %>">
                <div class="tile">
                    <div class="title">
                        Project:
                        <%- project.name %>
                    </div>

                    <!--<div class="sub-title">-->
                    <!--<%- project.responsiblePerson %>-->
                    <!--</div>-->
                </div>
            </a>
        </div>
        <% if (i % 2 == 0){ %>
        <div class="clearfix"></div>
        <% } %>
        <% }); %>
    </div>
</div>

<% include ../foot %>