<% include ../head %>
<div class="container">


    <h3><a href="/<%- read.run.sample.project.safeName %>/<%- read.run.sample.safeName %>/<%- read.run.safeName %>">
            <i class="fa fa-chevron-left"></i> <%- read.run.name %></a></h3>

    <h2><%- read.name %></h2>

    <label>MD5</label>

    <p><%- read.MD5 %></p>

    <label>Path</label>

    <p><%- read.path %></p>

    <a href="/<%- read.run.sample.project.safeName %>/<%- read.run.sample.safeName %>/<%- read.run.safeName %>/<%- read.safeName %>/fastqc"
       class="button" target="_blank">fqc
        report</a>

</div>

<% include ../foot %>