<% include ../head %>
<div class="container">


    <h3>
        <a href="/<%- read.run.sample.project.group.safeName %>/<%- read.run.sample.project.safeName %>/<%- read.run.sample.safeName %>/<%- read.run.safeName %>">
            <i class="fa fa-chevron-left"></i> Back to run: <%- read.run.name %></a></h3>

    <h2><%- read.name %></h2>

    <label>MD5</label>

    <p><%- read.MD5 %></p>

    <label>Path</label>

    <p><%- read.hpcPath(); %></p>

    <% if(read.fastQCLocation && read.areReports()){ %>
    <a href="/<%- read.run.sample.project.group.safeName %>/<%- read.run.sample.project.safeName %>/<%- read.run.sample.safeName %>/<%- read.run.safeName %>/<%- read.safeName %>/fastqc"
       class="button primary" target="_blank">
        <i class="fa fa-area-chart"></i> fqc report</a>
    <% } %>

    <a href="/<%- read.run.sample.project.group.safeName %>/<%- read.run.sample.project.safeName %>/<%- read.run.sample.safeName %>/<%- read.run.safeName %>/<%- read.safeName %>/download"
       class="button primary"><i class="fa fa-download"></i> Download</a>

</div>

<% include ../foot %>