<% include ../head %>
<div class="container">
    <h1>Projects</h1>

    <a class="button button-primary" href="/new"><i class="fa fa-plus"></i> new project</a>

    <div class="row">
        <% projects.map(function(project){ %>
        <div class="col6">
            <a href="/<%- project.id %>">
                <div class="tile">
                    <div class="title">
                        <!--<i class="fa fa-archive"></i>--> <%- project.name %> (<%- project.safeName %>)
                    </div>

                    <div class="sub-title">
                        <!--<i class="fa fa-user"></i>--> <%- project.responsiblePerson %> - <%- project.lab %>
                    </div>
                </div>
            </a>
        </div>
        <% }); %>
    </div>

</div>

<% include ../foot %>