<% include ../head %>
<div class="container">
    <h1>Projects</h1>

    <a class="button button-primary" href="/new"><i class="fa fa-plus"></i> new project</a>

    <div class="row">
        <% projects.map(function(project){ %>
        <div class="col6 auto-clear">
            <a href="/<%- project.id %>">
                <div class="tile">
                    <div class="title">
                        <span><%- project.name %> (<%- project.safeName %>)</span>
                    </div>

                    <div class="sub-title">
                        <span><%- project.responsiblePerson %> - <%- project.lab %></span>
                    </div>
                </div>
            </a>
        </div>

        <% }); %>
    </div>

    <div class="row">
        <% unknownFolders.map(function(folder){ %>
        <div class="col6 auto-clear">
            <div class="tile disabled">
                <div class="title">
                    <span><%- folder %></span>
                </div>
                <div class="sub-title">
                    <span>Unknown Folder</span>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

</div>

<% include ../foot %>