<% include ../head %>
<div class="container">
    <h3><a href="/"><i class="fa fa-chevron-left"></i> Projects</a></h3>

    <h1><%- project.name %></h1>


    <div class="">
        <h4>Safe Name: <%- project.safeName %></h4>
        <h4>Lab: <a href="/lab/<%- project.lab %>"><%- project.lab %></a></h4>
        <h4>Responsible Person: <%- project.responsiblePerson %></h4>
        <h4>Short Description: <%- project.shortDescription %></h4>
        <h4>Long Description: <%- project.longDescription %></h4>
    </div>

    <a class="button button-primary" href="/<%- project.safeName %>/new"><i class="fa fa-plus"></i> new sample</a>

    <div class="row">
        <% var i = 0; %>
        <% if(project.samples) project.samples.map(function(sample){ %>
        <% i++; %>
        <div class="col6">
            <a href="/<%- project.safeName %>/<%- sample.safeName %>">
                <div class="tile">
                    <span><%- sample.name %></span>
                </div>
            </a>
        </div>
        <% if (i % 2 == 0){ %>
        <div class="clearfix"></div>
        <% } %>
        <% }); %>
    </div>
    <div class="row">
        <% unknownFolders.map(function(folder){ %>
        <div class="col6 auto-clear">
            <div class="tile disabled">
                <div class="title">
                    <span><%- folder %></span>
                </div>
                <div class="sub-title">
                    <span>Unknown Folder</span>
                </div>
            </div>
        </div>
        <% }); %>
    </div>


</div>

<% include ../foot %>