<% include ../head %>
<div class="container">
    <h3><a href="/<%- project.group.safeName %>/<%- project.safeName %>"><i
                    class="fa fa-chevron-left"></i> Back to project: <%- project.name %></a></h3>

    <h2>Create Sample</h2>

    <form action="/<%- project.group.safeName %>/<%- project.safeName %>/new" method="POST"
          enctype="multipart/form-data">

        <fieldset>
            <label for="name">Sample name</label>
            <span>Please choose a short, informative name to identify your sample.</span>
            <input type="text" id="name" name="name" required>
        </fieldset>

        <fieldset>
            <label for="ncbi">NCBI Taxonomy ID (Get it from <a href="http://www.ncbi.nlm.nih.gov/taxonomy"
                                                               target="_blank">here</a>).</label>
            <span>Please obtain the Taxonomy ID for your sample's organism. (Choose the host if you're investigating host - pathogen interactions.)</span>
            <input type="number" id="ncbi" name="ncbi" required>
        </fieldset>

        <fieldset>
            <label for="scientificName">Scientific Name</label>
            <!--<span>This should automatically update upon entering the taxonomy id. You may modify this to add line/accession information.</span>-->
            <input type="text" id="scientificName" name="scientificName" required readonly>
            <ul id="listByText" class="no-margin no-decoration"></ul>
        </fieldset>

        <fieldset>
            <!--<label for="commonName">Common Name</label>-->
            <!--<span>This should automatically update upon entering the taxonomy id. You may modify this to add line/accession information.</span>-->

            <select id="commonName" name="commonName" required>
            </select>
            <!--<input type="text" id="commonName" name="commonName" required disabled>-->
            <ul id="listByText" class="no-margin no-decoration"></ul>
        </fieldset>

        <fieldset>
            <label for="conditions">Conditions</label>
            <span>Please provide information about the sample conditions (environmental conditions, is it a pathogen interaction?, what pathogen? etc.)</span>

            <textarea rows="3" id="conditions" name="conditions" required></textarea>
        </fieldset>

        <fieldset class="file-group" id="additionalDataDiv">
            <label>Supporting files</label>
            <span>Please upload any documentation obtained from the sequencing provider, including copies of the communication. If the documentation pertains to the whole project or only to a certain data set, then please add it there instead.</span>
            <div id="additionalData"></div>
        </fieldset>

        <button type="submit" class="button success">Submit</button>
    </form>

</div>


<script>
    $(function () {
        var additional = document.getElementById('additionalData');
        var addtionalLoader = fileUploader(additional, false, 'additional').setMin(0);
    });

</script>

<% include ../foot %>