<% include ../head %>
<div class="container">
    <h3><a href="/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>"><i
                    class="fa fa-chevron-left"></i> Project: <%- sample.project.name %></a></h3>


    <h2><%- sample.name %></h2>

    <label>Sample group</label>

    <p><%- sample.sampleGroup %></p>
    <label>Organism</label>

    <p><%- sample.organism %></p>
    <label>NCBI</label>

    <p><%- sample.ncbi %></p>
    <label>Conditions</label>

    <p><%- sample.conditions %></p>

    <label>Path</label>

    <p><%- sample.path %></p>

    <label>Additional Files</label>
    <%
    if(sample.additionalFiles && sample.additionalFiles.length > 0){
    sample.additionalFiles.map(function(file){
    %>
    <p><i class="fa fa-file-o"></i> <a href="/additional/<%- file.id %>/download"><%- file.name %></a></p>
    <%
    });
    } else { %>
    <p>none</p>
    <% } %>

    <a class="button button-primary"
       href="/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/new"><i
                class="fa fa-plus"></i>
        add read
        data</a>

    <div class="row">
        <% var i = 0; %>
        <% if(sample.runs) sample.runs.map(function(read){ %>
        <% i++; %>
        <div class="col6">
            <a href="/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/<%- read.safeName %>">
                <div class="tile">
                    Run:
                    <%- read.name %>
                </div>
            </a>
        </div>
        <% if (i % 2 == 0){ %>
        <div class="clearfix"></div>
        <% } %>
        <% }); %>
    </div>

</div>

<% include ../foot %>